@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
header {
  position: sticky;
  z-index: 30;
  top: 0;
}
nav {
  display: flex;
  padding: 1% 1% 1% 2%;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.logo {
  font-size: 30px;
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div {
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}
.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #ffffff;
}
.nav__menu-list.active {
  right: 0;
}
.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__menu-bar {
    display: none;
  }
  .nav__menu-list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    padding: 4% 4% 4% 4%;
  }

  .logo {
    font-size: 30px;
  }
}
